@charset "UTF-8";
@font-face {
    font-family: 'NamumSquare';
    src: url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css');
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'NanumSquare', sans-serif;
}

header {
    width: 100%;
    height: 59px;
    border-bottom: 1px solid #ddd;
    line-height: 59px;
    position: fixed;
    z-index: 999;
    top: 0;
    background-color: #fff;
}

.logo {
    width: 130px;
    height: 22px;
    float: left;
    margin-top: 17px;
    margin-left: 50px;
}

.logo img {
    width: 100%;
    vertical-align: top;
}

.logo:hover {
    cursor: pointer;
}

.main_icon {
    height: 20px;
    float: right;
    margin-right: 50px;
    margin-top: 19px;
}

.main_icon li {
    float: left;
    margin-right: 20px;
}

.main_icon li:hover {
    cursor: pointer;
}

.main_icon li img {
    vertical-align: top;
}

.main_menu {
    width: 800px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    text-align: center;
}

.main_menu li {
    display: inline-block;
    padding: 0 15px;
    font-weight: 400;
    position: relative;
}

.main_menu li:hover {
    cursor: pointer;
    font-weight: 900;
}

.main_menu li .menu_line {
    width: 0;
    height: 3px;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    background-color: .000;
    transition: 0.5s;
}

.main_menu li:hover .menu_line {
    width: 100%;
}

.hidden_menu_bt {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    display: none;
}

/* header 끝, slide section 시작 */

.slide {
    width: 1920px;
    height: 790px;
    position: relative;
    overflow: hidden;
}

.slide_title {
    display: none;
}

.slide_bg {
    width: 600%;
    height: 790px;
    position: absolute;
    left: 0;
    top: 0;
}

.slide_bg li {
    width: 16.66666%;
    height: 790px;
    float: left;
    position: relative;
}

.slide_bg li video {
    width: 1920px;
    left: 50%;
    margin-left: -960px;
    position: absolute;
    top: -100px;
}

.slide_bg li:nth-child(1) {
    background: #fff url('images/slide1.jpg') center 0 no-repeat;
}

.slide_bg li:nth-child(2) {
    background: #fff url('images/slide2.png') center 0 no-repeat;
}

.slide_bg li:nth-child(3) {
    background: #fff url('images/slide3.png') center 0 no-repeat;
}

.slide_bg li:nth-child(5) {
    background: #fff url('images/slide5.png') center 0 no-repeat;
}

.slide_bg li:nth-child(6) {
    background: #fff url('images/slide1.jpg') center 0 no-repeat;
}

.slide_textbox {
    width: 380px;
    height: 200px;
    position: absolute;
    left: 10%;
    top: 0;
    bottom: 0;
    margin: auto;
}

.slide_textbox button {
    width: 40px;
    height: 20px;
    background-color: #4677BB;
    color: #fff;
    border: none;
}

.slide_textbox h1 {
    margin-top: 20px;
    font-size: 46px;
    font-weight: 400;
}

.slide_textbox h3 {
    margin-top: 30px;
    font-size: 20px;
    font-weight: 400;
}

.slide_textbox h4 {
    margin-top: 5px;
    font-weight: 500;
}

.slide_btbox {
    width: 200px;
    height: 20px;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 20px;
    margin: auto;
    position: absolute;
}

.slide_btbox img {
    vertical-align: middle;
}

.slide_btbox .slide_leftbt {
    width: 20px;
    height: 20px;
    float: left;
    position: absolute;
    z-index: 100;
    left: -10px;
    cursor: pointer;
}

.slide_btbox .slide_rightbt {
    cursor: pointer;
}

.slide_btbox .slide_playbt {
    width: 16px;
    height: 16px;
    float: left;
    margin-left: 35px;
    margin-top: 2px;
    cursor: pointer;
}

.slide_btbox ul {
    position: absolute;
    right: 0;
    left: 0;
    margin: auto auto auto 26px;
}

.slide_btbox li {
    width: 8px;
    height: 8px;
    border-radius: 20px;
    background-color: #777;
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
    cursor: pointer;
}

.slide_btbox li:first-child {
    width: 12px;
    height: 12px;
}

.slide_btbox .slide_rightbt {
    width: 20px;
    height: 20px;
    float: right;
    position: absolute;
    z-index: 99;
    right: -10px;
}

.slide_pausebt {
    position: absolute;
    left: 30px;
    top: 5px;
    z-index: 101;
    cursor: pointer;
}

/* slide section 끝, best section 시작 */

.best {
    width: 100%;
    height: 880px;
    position: relative;
    text-align: center;
    padding-bottom: 100px;
}

.best_title {
    display: none;
}

.best_bg {
    width: 100%;
    height: 450px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
}

.best_bg video {
    width: 1920px;
}

.best > h2 {
    font-size: 44px;
    padding-top: 100px;
    font-weight: 900;
}

.best_box {
    width: 1200px;
    height: 700px;
    margin: 20px auto auto;
    position: relative;
    overflow: hidden;
}

.best_box ul {
    width: 2400px;
    margin-top: 50px;
    position: absolute;
}

.best_box li {
    width: 380px;
    height: 650px;
    margin: 10px;
    float: left;
    position: relative;
}

.best_box li:hover {
    cursor: pointer;
}

.best_box li img {
    width: 90%;
    transition: 0.3s;
}

.best_box li:hover .best_img {
    transform: rotate(-10deg);
}

.best_box li .pickme {
    position: absolute;
    right: 30px;
    top: 320px;
    transition: 0.3s;
    width: 93px;
    height: 52px;
    opacity: 0;
}

.best_box li:hover .pickme {
    opacity: 1;
}

.best_box li h2 {
    font-size: 18px;
    color: #5181C2;
    display: inline-block;
    margin-top: 10px;
}

.best_box li h3 {
    margin-top: 10px;
    font-weight: 400;
    font-size: 18px;
}

.best_box li .dot {
    width: 40px;
    height: 40px;
}

.best_box li h5 {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #777;
}

.best_box li p {
    margin-top: 10px;
    font-size: 12px;
    color: #777;
}

.best_btbox {
    width: 1200px;
    height: 200px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    padding-top: 80px;
    box-sizing: border-box;
}

.best_leftbt {
    float: left;
    cursor: pointer;
}

.best_rightbt {
    float: right;
    cursor: pointer;
}

/* best section 끝, goods1 시작 */

.goods1 {
    width: 1221px;
    overflow: hidden;
    margin: 30px auto auto;
}

.goods1 li {
    width: 323px;
    height: 650px;
    float: left;
    margin: 42px;
    position: relative;
}

.goods1 li:hover {
    cursor: pointer;
}

.goods1 li img {
    width: 100%;
}

.goods1 li h2 {
    width: 200px;
    text-align: right;
    position: absolute;
    transform: rotate(-90deg);
    left: -120px;
    top: 100px;
    font-size: 16px;
    color: #5181C2;
    letter-spacing: 1.5px;
}

.goods1 li h2:hover {
    cursor: pointer;
}

.goods1 li h3 {
    margin-top: 15px;
    font-weight: 400;
}

.goods1 li h4 {
    margin-top: 10px;
    font-weight: 400;
    font-size: 15px;
}

/* goods1 끝, goods2 시작*/

.goods2 {
    width: 1221px;
    height: 1480px;
    margin: 100px auto auto;
    position: relative;
}

.goods2 li {
    position: relative;
}

.goods2 li:hover {
    cursor: pointer;
}

.goods2 li img {
    width: 90%;
}

.goods2 li:nth-child(1) {
    width: 730px;
    height: 530px;
    position: absolute;
    left: 40px;
    top: 20px;
}

.goods2 li:nth-child(2) {
    width: 420px;
    height: 760px;
    position: absolute;
    right: 0;
    top: 50px;
}

.goods2 li:nth-child(3) {
    width: 368px;
    height: 600px;
    position: absolute;
    left: 40px;
    bottom: 200px;
}

.goods2 li:nth-child(4) {
    width: 716px;
    height: 520px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.goods2 li h2 {
    width: 200px;
    position: absolute;
    transform: rotate(-90deg);
    font-size: 16px;
    left: -120px;
    top: 90px;
    text-align: right;
    color: #5181C2;
}

.goods2 li h2:hover {
    cursor: pointer;
}

.goods2 li h3 {
    margin-top: 15px;
    font-weight: 400;
}

.goods2 li h4 {
    margin-top: 10px;
    font-weight: 400;
}

/* goods2 끝, sns section 시작 */

.sns {
    text-align: center;
    margin-top: 100px;
    position: relative;
}

.sns h1 {
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: 900;
}

.sns h3 {
    margin-top: 10px;
    font-size: 17px;
    font-weight: 900;
    color: #666;
    letter-spacing: 0.5px;
}

.sns_slidewrap {
    width: 1050px;
    height: 200px;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.sns_slide {
    width: 400%;
    margin: 20px auto auto;
    overflow: hidden;
    position: absolute;
    left: 0;
}

.sns_slide li {
    width: 4.75%;
    height: 200px;
    float: left;
    margin: 5px;
    overflow: hidden;
    position: relative;
}

.sns_slide li:hover {
    cursor: pointer;
}

.sns_slide li img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.3s;
}

.sns_slide li img:hover {
    top: -10px;
}

.sns_textbox {
    width: 100%;
    height: 60px;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: -30px;
    transition: 0.3s;
    border: 1px solid #eee;
    box-sizing: border-box;
    border-top: none;
}

.sns ul li:hover .sns_textbox {
    bottom: 20px;
}

.sns_textbox h5 {
    margin-top: 10px;
}

.sns_textbox p {
    margin-top: 10px;
    padding-left: 10px;
    width: 180px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 13px;
    text-align: center;
}

.sns_btbox {
    width: 1200px;
    height: 100px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding-top: 30px;
}

.sns_bt_right {
    width: 40px;
    height: 80px;
    background: #fff url('icons/right_bt.png') center no-repeat;
    transition: 0.3s;
    float: right;
}

.sns_bt_left {
    width: 40px;
    height: 80px;
    background: #fff url('icons/left_bt.png') center no-repeat;
    transition: 0.3s;
    cursor: pointer;
    float: left;
}

.sns_bt_right img {
    width: 20px;
    height: 20px;
}

.sns_bt_right:hover {
    cursor: pointer;
    background-color: #eee;
}

.sns button {
    width: 120px;
    height: 32px;
    margin-top: 40px;
    border: 1px solid #000;
    background-color: transparent;
    transition: 0.3s;
}

.sns:hover button {
    cursor: pointer;
    border: none;
    background-color: #0389d1;
    color: #fff;
}

/* sns section 끝, footer 시작 */

footer {
    width: 100%;
    margin-top: 100px;
}

.footer1 {
    width: 100%;
    border-top: 1px solid #000;
}

.footer2 {
    width: 100%;
    border-top: 1px solid #000;
    padding-bottom: 100px;
}

.footer_box1 {
    width: 1200px;
    height: 45px;
    margin: auto;
    overflow: hidden;
    line-height: 45px;
}

.footer_box1_left {
    float: left;
}

.footer_box1_left li {
    float: left;
    margin-right: 40px;
    font-size: 14px;
}

.footer_box1_left li:nth-child(4) {
    font-weight: 900;
}

.footer_box1_left li:hover {
    cursor: pointer;
}

.footer_box1_right {
    float: right;
    padding: 8px 0;
}

.footer_box1_right li {
    float: left;
    margin-left: 20px;
}

.footer_box1_right li:hover {
    cursor: pointer;
}

.footer_box2 {
    width: 1200px;
    margin: auto;
    overflow: hidden;
}

.footer_box2_left ul {
    float: left;
    margin-top: 30px;
}

.footer_box2_left ul li {
    float: left;
    margin-right: 20px;
    font-size: 14px;
}

.footer_box2_left li span {
    font-weight: 900;
}

.footer_box2 img {
    width: 70px;
    height: 50px;
    float: right;
    margin-top: 20px;
}

.footer_box2 img:hover {
    cursor: pointer;
}

/* footer 끝 */